<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDemo">

        <!-- 高德地图 Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="47c170f3e9ffb34a8edb5158a2f3c508" />

        <!-- 主页面 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 定位 -->
        <activity android:name=".location.LocationGpsActivity" />
        <activity android:name=".location.LocationGeofenceActivity" />
        <activity android:name=".location.LocationDistanceActivity" />
        <activity android:name=".location.LocationMapActivity" />
        <activity android:name=".location.LocationNavigationActivity" />

        <!-- AI -->
        <activity android:name=".ai.VoiceCollectionActivity" />
        <activity android:name=".ai.PetActivity" />

        <!-- UI -->
        <activity android:name=".ui.bottomnav.BottomNavFoldableActivity" />

        <!-- 应用埋点 -->
        <activity android:name=".trace.CustomTraceActivity" />
        <activity android:name=".trace.CrashTraceActivity" />
        <activity android:name=".trace.WhiteScreenTraceActivity" />
        <activity android:name=".trace.LagTraceActivity" />
        <activity android:name=".trace.PerformanceTraceActivity" />
        <activity android:name=".trace.PerformanceMeasureActivity" />

        <service android:name="com.amap.api.location.APSService"/>


    </application>

</manifest>
